.header {
    height: auto;
    width: 100%;
    background-color: #445a3e;
    
    .top {
        display: flex;
        justify-content: space-between;

        .logo-container {
            height: 100%;
            width: 70px;
            padding: 25px;
        }

        .option {
            &:hover {
                color: #f2a900;
            }
            
            font-size: calc(20px);
            color: white;
            padding: 10px 10px;
            text-decoration: none;
            cursor: pointer;
        }
    
        .options {
            display: flex;
            justify-content: flex-end;

            align-items: center;
            width: 50%;
            height: auto;
        }
    }
}