@import "~bootstrap/scss/bootstrap";

.notes-page {
    margin: 25px;

    .new-notes {
        visibility: hidden;
    }

    .notes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

